// h1 {

// }

div {
    ul {
        li {
            div{
                img {
                    height: 2.5rem;
                    width: 2.5rem; 
                }
                background-color: #bbb;
                border: 1px solid black; 

            }
            list-style: none;
        }
    }
}