div {
    ul {
        li {
            div{
                img {
                    height: 100%;
                    width: 4rem;
                }
                span {

                        color: green; 
                        font-size: 3rem;

                }
                background-color: #bbb;
                border: 1px solid black; 
                height: 10vh;
                display: flex;
                text-align: center;
            }
            list-style: none;
            width: 100%; 
     
        }
        padding: 0;
    }
}