body {
    main {
        div {
            video {
                position: absolute;
                height: 100vh;
                width: 100vw;
            }
            img {
                position: relative;
            }  
            div {
                #noimages {
                    position: absolute; 
                    top: 5vh; 
                    left: 5vw; 
                    font-size: 3rem;
                    z-index: 900;
                }
                button {
                 position: absolute; 
                 top: 80vh;
                 margin-left: 30%;
                 margin-right: 30%;
                 width: 40%; 
                 height: 5rem;
                 border-radius: 4rem;
                 background-color: black;
                 color: white;
                 opacity: 0.6;
                 text-align: center; 
                }
                margin: 0;
            }     
        }
    }

    background-color: #FEC831; 
}