body {
    main {
        div{
            video {
                position: absolute;
                width: 100%; 
                border: 1px solid black;
                margin: 5px;
            }
            img {
                position: relative;
                width: 100%; 
            }
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 80vh 4vh 4vh 3vh 3vh 3vh 3vh;
        
        }
    }
    background-color: #FEC831; 
}