body {
    main {
        div {
            video {
                position: absolute;
                height: 100vh;
                width: 100vw;
            }
            img {
                position: relative;
            }  
            div {
                button {
                 position: absolute; 
                 top: 80vh;
                 margin-left: 30%;
                 margin-right: 30%;
                 width: 40%; 
                 font-size: 3rem;
                 border-radius: 2rem;
                 background-color: black;
                 color: white;
                 opacity: 0.6;
                 text-align: center; 
                }
            }     
        }
    }

    background-color: #FEC831; 
}