@import "navstyle";
body {
    main {
    div {
       img {
         justify-self: center;
         height: 100%;
   
       }
       h2{
          justify-self: center;
          font-size: 14rem;
       }
       input{
         text-align: center;
         font-size: 3rem;
       }
       display:grid;
       grid-template-columns: 100%;
       grid-template-rows: 40vh 20vh 30vh 10vh;

       overflow: hidden;
   
    }
    background-color: #FEC831; 
    

}
    
}

