div {
    div{
        img {
            height: 50vh; 
            width: 50vw;
            transition-duration: 200ms;
            border: 0.5rem dashed white;
            z-index: 1; 
        }
        div {
            position: absolute; 
            top: 35vh;
            opacity: 0.75;
            background: rgb(53, 53, 53); 
            width: 50vw;
            height: 10rem; 
            z-index: 100; 
            span {
                text-align: right;
                opacity: 1;
                font-size: 10rem; 
                color: rgb(255, 255, 255);
                font-weight: bold;
            }
        }
        &:hover {
            cursor: pointer;
            transform: rotate(360deg);
            transition: 1s;
        }
   
        position: relative;
    }
    display: grid;
    grid-template-areas: 'about alphproj' 
                         'betaproj blog';
    overflow: hidden;
    background-color: rgba(219, 37, 255, 0.452); 
}
  @media (max-width: 480px) {
      div {
          div{
             img{
                 width: 100vw;
                 height: 98vh;
             }
             div{
                 span {
                     font-size: 3.5rem;
                 }
                  top: 60vh;
             }
    
             width: 100vw;
         }
         display: grid;
         grid-template-areas: 'about'   
                              'alphaproj'
                              'betaproj'
                              'blog';
     }
    }


