div {
    img {
        &:hover {
            cursor: pointer;
            transform: rotate(90deg);
            transition: 2s;
        }
        height: 49vh; 
        width: 49vw;
        transition-duration: 200ms;
        border: 0.5rem dashed white;
    }
    display: grid;
    grid-template-columns: auto auto; 
    background-color: rgba(219, 37, 255, 0.452);
}








// creates break-points for screen size
// @media screen and (max-width: 480px) {
//     div {
//         display: flex;
//         flex-wrap: wrap; 
//         flex-direction: row; 
        
//         img {
//             width: 100%; 
//             height: 100vh;
//         }
//     }
    
//   }

