@import "navstyle";

header{
    background: #5707DB;
    padding: 1.1vh;
    width: 100%;
    color: white;
}
section {
  
    header{
        width: 100%; 
        font-size: 5vh;
        background: #0540F2
        color: white;
    }
    div{
        img {
            height: 100%;
        }
      
        display: grid;
        object-fit: cover;
        grid-template: 50vh 50vh / 33vw 33vw 33vw ;
    }
    background-color: rgb(250, 250, 100);
}
div {
    div{
        h1{
            color: white; 
            font-size: 3vh;
            font-family: sans-serif;
            text-decoration: underline;
            text-align: center;
        }
        ul {
            li {
                color: white;
                font-size: 2vh;
            
            }
        }
        display: flex; 
        flex-direction: column; 
        background: rgba(255, 136, 0, 0.685);
        border-radius: 2vw;
        
        height: 100%;
    }
}

@media (max-width: 480px){
    nav {
        background-color: green;
    }

    section {
  
        header{
            width: 100vw; 
            font-size: 5vh;
            background: rgb(255, 9, 9);
            color: white;

        }
        div{
            img {
                height: 100%;
                width: 100%;
                order: 2;
            }
            div { 
                order: 1; 
                background-color: rgb(177, 51, 177);
            }
            ul {
                li {
                    font-size: 3vh;
                    padding-bottom: 1.1vh;
                }
            }

            object-fit: cover;
            display: grid;
            grid-template: 50vh 50vh 50vh 50vh 50vh 50vh/ 100vw ;
        }
    }
    div {
        div {
            h1 {
                margin: 0;
            }
        }
    }

}
@media (min-width: 480px){
    section {
        header{
            width: 100vw; 
            font-size: 5vh;
            background: rgb(0, 60, 255);
            color: white;
        }
        div{
            img {
                height: 100%;
                width: 100%;
            }
            ul {
                li {
                 font-size: 3vh;
                 padding-bottom: 1.1vh;
                }
                text-align: left;
                list-style-type: upper-roman;
            }
            div { 
                background-color: rgb(211, 48, 211);
            }
            object-fit: cover;
            display: grid;
            grid-template: 50vh 50vh 50vh/ 50vw 50vw;
            grid-gap: 1.1vh;
        }
    }
    div {
        div {
            h1 {
                margin: 0;
            }
        }
    }

}