nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background-color: red;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 5vh;
}

@media (max-width: 800px) {
  a {
    display: none;
  }
  span {
    margin: 1.1vh;
    background-color: white;
    border-radius: 1.1vh;
    height: 1.2vh;
    width: 10vw;
    -webkit-animation-name: navchange;
            animation-name: navchange;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    display: block;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 800px) {
  nav .tabs {
    display: none;
  }
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@-webkit-keyframes navchange {
  0% {
    margin-left: 90vw;
  }
  100% {
    margin-left: 1.1vw;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes navchange {
  0% {
    margin-left: 90vw;
  }
  100% {
    margin-left: 1.1vw;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  background: #5707DB;
  padding: 1.1vh;
  width: 100%;
  color: white;
}

section {
  background-color: #fafa64;
}

section header {
  width: 100%;
  font-size: 5vh;
  background: #240fdf;
  color: white;
}

section div {
  display: -ms-grid;
  display: grid;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-rows: 50vh 50vh;
  -ms-grid-columns: 33vw 33vw 33vw;
      grid-template: 50vh 50vh / 33vw 33vw 33vw;
}

section div img {
  height: 100%;
}

div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 136, 0, 0.685);
  border-radius: 2vw;
  height: 100%;
}

div div h1 {
  color: white;
  font-size: 3vh;
  font-family: sans-serif;
  text-decoration: underline;
  text-align: center;
}

div div ul li {
  color: white;
  font-size: 2vh;
}

@media (max-width: 480px) {
  nav {
    background-color: green;
  }
  section header {
    width: 100vw;
    font-size: 5vh;
    background: #ff0909;
    color: white;
  }
  section div {
    -o-object-fit: cover;
       object-fit: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50vh 50vh 50vh 50vh 50vh 50vh;
    -ms-grid-columns: 100vw;
        grid-template: 50vh 50vh 50vh 50vh 50vh 50vh/ 100vw;
  }
  section div img {
    height: 100%;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  section div div {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #b133b1;
  }
  section div ul li {
    font-size: 3vh;
    padding-bottom: 1.1vh;
  }
  div div h1 {
    margin: 0;
  }
}

@media (min-width: 480px) {
  section header {
    width: 100vw;
    font-size: 5vh;
    background: #003cff;
    color: white;
  }
  section div {
    -o-object-fit: cover;
       object-fit: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50vh 50vh 50vh;
    -ms-grid-columns: 50vw 50vw;
        grid-template: 50vh 50vh 50vh/ 50vw 50vw;
    grid-gap: 1.1vh;
  }
  section div img {
    height: 100%;
    width: 100%;
  }
  section div ul {
    text-align: left;
    list-style-type: upper-roman;
  }
  section div ul li {
    font-size: 3vh;
    padding-bottom: 1.1vh;
  }
  section div div {
    background-color: #d330d3;
  }
  div div h1 {
    margin: 0;
  }
}
/*# sourceMappingURL=completedwork.css.map */