
nav { 
    a {
        color: white; 
        text-decoration: none; 
        font-size: 6vh; 
        
    }
    .tabs {
            display: block;
            position: absolute;
            height: 8px;
            width: 10%;
            z-index: 1000;
            left: 10vw;
            margin-bottom: 5px;
            padding: 0;
            background: #ffffffa9;
            border-radius: 9px;
            opacity: 1;
            animation-name: navchange;
            animation-duration: 2s;
        }
        display: flex;
        justify-items: end;
        align-content: flex-start;
        background-color: red;
}

@media (max-width: 800px) {
  a {
      display: none; 
  }
  .tabs {
    display: block;
  }
  nav {
      height: 25vh;
  }

}
@media (min-width: 800px) {
    nav {
        .tabs {
            display: none; 
        }
    }
    a {
        display: flex; 
        width: 100%; 
        justify-content: space-around;
    }
  }

  @keyframes navchange {
      0% {
        left: 90vw;
      }
      100% {
          left: 10vw;
          transform: rotate(360deg);
      }
  }