nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background-color: red;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 5vh;
}

@media (max-width: 800px) {
  a {
    display: none;
  }
  span {
    margin: 1.1vh;
    background-color: white;
    border-radius: 1.1vh;
    height: 1.2vh;
    width: 10vw;
    -webkit-animation-name: navchange;
            animation-name: navchange;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    display: block;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 800px) {
  nav .tabs {
    display: none;
  }
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@-webkit-keyframes navchange {
  0% {
    margin-left: 90vw;
  }
  100% {
    margin-left: 1.1vw;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes navchange {
  0% {
    margin-left: 90vw;
  }
  100% {
    margin-left: 1.1vw;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body main {
  background-color: #FEC831;
}

body main div {
  display: -ms-grid;
  display: grid;
  margin: 2rem;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 40vh 20vh 10vh 10vh 20vh;
      grid-template-rows: 40vh 20vh 10vh 10vh 20vh;
  grid-gap: 1.2rem;
  overflow: hidden;
}

body main div img {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 100%;
}

body main div input {
  text-align: center;
  font-size: 2rem;
  border-radius: 1.5rem;
  -webkit-animation-name: onloader;
          animation-name: onloader;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

body main div button {
  border-radius: 1.1rem;
  background-color: green;
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
}

@-webkit-keyframes onloader {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes onloader {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  75% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=ruokstylesheet.css.map */